/*
    Mixin for responsive breakpoints
*/
/*
    Example when using this mixin for breakpoints: 

    aside.primary {
      @include breakpoint(md) {
        width: 350px;
      }
      @include breakpoint(480px) {
        display: none;
      }
      @include breakpoint($min: 640px, $max: 767px) {
        text-align: center;
        font-style: italic;
      }
    }
*/
/* End of mixin for breakpoints*/
/* 
    font-face
    Those font-face used for including fonts on folder fonts in this solution
*/
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v17-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v17-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-300.woff") format("woff"), url("../fonts/open-sans-v17-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-600.woff") format("woff"), url("../fonts/open-sans-v17-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-700.woff") format("woff"), url("../fonts/open-sans-v17-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-800.woff") format("woff"), url("../fonts/open-sans-v17-latin-800.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/*
    End of font face
*/
/*
    Animation - basic
*/
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
    End of animation
*/
/*
    Global tweaking
*/
.verticaled-box {
  position: relative;
}

.verticaled {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-group {
  white-space: normal;
}

/*
    End of tweaking
*/
/* 
    Colors and additional variable
*/
/*
    End of colors
*/
/*
    Baseline
*/
/*
    End of baseline
*/
html {
  font-size: 12px;
}

html,
body {
  background: #eeeeee;
  height: 100%;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

/* 
    Custom input floating label
    (not used for now)
*/
.form-group {
  position: relative;
}

@media (min-width: 1919px) {
  .form-group {
    margin-bottom: 1.5rem;
  }
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

/* 
    End of floating labels
*/
.login-page {
  background-image: url(../Img/barge-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.login-page .login-page-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15rem 0 0 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 44px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 44px rgba(0, 0, 0, 0.4);
}

.login-page input[type="email"],
.login-page input[type="password"] {
  margin: 1rem auto;
  max-width: 23rem;
  padding: 0 1.25rem;
}

.login-page #Email {
  margin: 0 auto;
}

.login-page .login-btn {
  max-width: 10rem;
  margin: 0 auto 3rem;
}

.login-page .request-btn {
  max-width: 23rem;
  margin: 0 auto 3rem;
}

.intro {
  padding: 1rem 0;
  /*@include breakpoint(480px) {
        display: none;
    }

    @include breakpoint($min: 640px, $max: 767px) {
        text-align: center;
        font-style: italic;
    }*/
}

@media (min-width: 1919px) {
  .intro {
    padding: 2.5rem 0;
  }
}

.intro-req {
  padding: 1rem 0;
}

.remember-forgot {
  max-width: 23rem;
  margin: 0 auto;
  padding-bottom: 3rem;
  height: 1.8rem;
}

.remember-forgot .remember {
  float: left;
}

.remember-forgot a {
  float: right;
}

.remember-forgot + .form-group {
  clear: both;
}

.login-body {
  padding: 3rem 2rem;
  text-align: center;
}

.login-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.7rem;
  color: #01654b;
}

.login-title .login-title-bolder {
  font-weight: 800;
}

@media (min-width: 1919px) {
  .logo-container {
    margin-bottom: 3.5rem;
  }
}

.logo-container .logo-by,
.logo-container logo-img {
  display: inline;
}

.logo-container .logo-img {
  width: 10rem;
}

@media (min-width: 1919px) {
  .logo-container .logo-img {
    width: 15.6rem;
  }
}

.body-content {
  height: 100%;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

a:hover {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

.navbar {
  background: #ffffff00;
  border: none;
  border-radius: 0;
  margin-bottom: 1rem;
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i {
  display: inline-block;
}

span {
  display: inline-block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

ul ul a {
  font-size: 0.9em !important;
  margin-left: 30px;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article {
  background: #6d7fcc !important;
  color: #fff !important;
}

a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.content-container {
  height: 100vh;
  background: #eeeeee;
  width: calc(100% - 18.75rem);
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
  .content-container {
    width: 100%;
  }
}

.content-container.active {
  width: calc(100% - 8rem);
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

.navbar-bts {
  height: 2.8rem;
  margin-bottom: 0.7rem;
  /*top: 0; 
    right: 100%; 
    left: auto; red
    right: auto;
    left: auto; blue
    right: 0;
    left: auto; yellow
    margin-top: 0;
    margin-right: 0.125rem;*/
}

@media (max-width: 767px) {
  .navbar-bts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navbar-bts .navbar-collapse {
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 500ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
}

.navbar-bts .navbar-collapse.show {
  -webkit-transition: all 300ms cubic-bezier(0.88, 0.01, 0.22, 1);
  /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  transition: all 300ms cubic-bezier(0.88, 0.01, 0.22, 1.005);
  background: #ffffffcc;
  z-index: 2000;
  border-radius: 1rem;
  padding: 1.5rem;
  font-family: Lato, sans-serif;
}

@media (max-width: 767px) {
  .navbar-bts .navbar-collapse {
    text-align: right;
  }
}

.navbar-bts .navbar-toggler {
  background: #f8f8f8;
  border-radius: 0.7rem 0;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
}

.navbar-bts .navbar-toggler .fa-bars {
  color: #343a40;
}

.navbar-bts .door-button {
  /*float: right;*/
  /*font-size: 1.3rem;*/
  z-index: 1099;
  margin-left: 2rem;
}

.navbar-bts .bell-button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  z-index: 1099;
}

@media (max-width: 767px) {
  .navbar-bts .bell-button {
    width: auto;
  }
}

.navbar-bts .bell-button .total-notif {
  border: solid 0.1rem orangered;
  position: absolute;
  border-radius: 1rem;
  right: -1rem;
  bottom: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.7rem;
  text-align: center;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1097;
}

.navbar-bts .dropleft .dropdown-menu.show {
  background: red;
  right: auto;
  left: auto;
}

@media (min-width: 992px) {
  .navbar-bts .dropleft .dropdown-menu.show {
    right: 100%;
    left: auto;
    background: blue;
  }
}

@media (max-width: 767px) {
  .navbar-bts .dropleft .dropdown-menu.show {
    right: 0;
    left: auto;
    background: yellow;
  }
}

.content {
  border-radius: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.6);
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 3.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.welcome-bg {
  background-image: url(.../Img/adaro-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 65%;
}

.welcome {
  width: 100%;
  position: relative;
  margin: 0;
}

.welcome .col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.welcome .welcome-title {
  font-size: 2.9rem;
  line-height: 4rem;
  margin-bottom: 0.5rem;
}

.welcome .welcome-box .welcome-logo {
  width: 80%;
  max-width: 40rem;
}

@media (min-width: 992px) {
  .welcome .welcome-box .welcome-logo {
    max-width: 28rem;
    width: 80%;
  }
}

.welcome .welcome-box .info-2 {
  width: 40%;
  margin: 3rem auto 0;
}

.welcome .welcome-box .info-2 p.lead,
.welcome .welcome-box .info-2 p.lead-mini {
  font-size: 1.4rem;
}

.welcome .welcome-box .info-2 p.lead-mini {
  display: none;
}

@media (max-width: 767px) {
  .welcome .welcome-box .info-2 p.lead-mini {
    display: inline;
  }
}

.welcome .welcome-box .info-2 p.lead {
  display: inline;
}

@media (max-width: 767px) {
  .welcome .welcome-box .info-2 p.lead {
    display: none;
  }
}

.welcome .welcome-box-notice {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: 0.2rem;
}

.welcome .welcome-box-notice p {
  font-size: 0.8rem;
}

.welcome .welcome-box-notice p > span.bold {
  font-weight: 600;
}

.container-mini {
  width: 25%;
  max-width: 25rem;
  border-radius: 1rem;
}

.barge-tracking-history {
  width: 100%;
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
}

.barge-tracking-history .title {
  margin-bottom: 1.3rem;
}

.barge-tracking-history .bth {
  margin-bottom: 1rem;
}

.table-responsive {
  height: 400px;
  overflow: scroll;
}

thead tr:nth-child(1) th {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
/*# sourceMappingURL=custom.css.map */