@import "_tool.scss";

.fish .card {
    border: none;
    background: $gray-500;
    border-radius: 1rem;
}

.content.fish {
    flex-flow: column;
    justify-content: center;
}

.fish-lead {
    align-self: center;
    font-size: 2.5rem;
    font-weight: 400;
    /*margin-bottom: 1rem;*/
}

.container-fishmap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    // margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: visible;
    justify-content: center;
    max-height: 100%;
    height: 100%;

    // -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    // box-shadow: 0 7px 17px rgba(0, 0, 0, 0.3);
    .table-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        direction: ltr;

        /*margin: 0.3rem;*/
        // height: 5rem;
        &.upstream .table-column {
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            border-left: 1px dotted darkgrey;
            align-items: center;
        }

        &.downstream .table-column {
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            border-left: 1px dotted darkgrey;
            align-items: center;
        }

        &.head {
            border: 3px solid #fff;
        }

        .table-column {
            height: 100%;
            width: 18rem;
            // width: auto;
            // min-width: 3rem;
            // max-width: 10rem;
            /*background: #f5f5f5;*/
            /*border-right: 3px solid #fff;*/
            /*border-left: 3px solid #fff;*/
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    .table-row.upstream,
    .table-row.downstream {
        // height: 30%;
    }

    .table-row.head {
        height: 2.5rem;
        background: $blue;
        color: white;
        margin-left: 16px;
    }
}

/*.some-object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16rem;
    height: (72rem/12);
    background: aquamarine;
    text-align: center;
    font-size: 3rem;
    color: blue;
    border: 2px dotted yellow;
}

*/

.table-column span {
    font-size: 0.8rem;
    /*font-weight: 600;*/
}

.box {
    overflow-y: scroll;
    height: 45%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    direction: rtl;

    &.upstreams {
        /*transform: rotateX(180deg);*/
        /*perspective: 1px;*/
        flex-direction: column-reverse;

        .table-row.upstream {
            /*transform: rotateX(-180deg);*/
            perspective: 1px;
        }
    }
}

.box,
.head {
    width: fit-content;
}